<div class="container">
  <div class="hero row">
    <div class="col text-center">
      <gf-logo size="large" [showLabel]="false" />
      <h1 class="font-weight-bold intro mt-4" i18n>
        Manage your wealth<br />like a boss
      </h1>
      <p class="gf-text-wrap-balance lead mb-5" i18n>
        A privacy-first dashboard for your personal finances. Break down your
        asset allocation, know your net worth and make solid, data-driven
        investment decisions.
      </p>
      <div class="align-items-center d-flex justify-content-center">
        @if (hasPermissionToCreateUser) {
          <a
            color="primary"
            i18n
            mat-flat-button
            [routerLink]="routerLinkRegister"
            >Get Started</a
          >
        }
        @if (hasPermissionForDemo) {
          @if (hasPermissionToCreateUser) {
            <div class="mx-3 text-muted" i18n>or</div>
          }
          <a i18n mat-stroked-button [routerLink]="routerLinkDemo"
            >Live Demo</a
          >
        }
      </div>
    </div>
  </div>
</div>
